<p id="instructions" class="margin_b_2em">
  Select the cohorts for which you would like the <a href="https://docs.google.com/a/devbootcamp.com/spreadsheet/ccc?key=0AsMU7W_Wn78LdEVmaHBkdndjckdkeTRoMjRxWXdCUXc&usp=drive_web#gid=5">Chicago Cohort Roster</a> updated.  <span class="details">This will overwrite all data on the cohorts' respective worksheets with the data currently available from the DevBootcamp API.</span>
</p>

<div class="form_wrapper">
  <p class="alert_async" >
    Gathering a list of recent and upcoming cohorts ...
  </p>
</div>


