<div class="container">
  <h1>Active and Recent Cohorts</h1>
  <p>
    Select the cohorts for which you would like the Chicago Cohort Roster updated.  This will overwrite all data on the cohorts' respective worksheets with the data currently available from the DevBootcamp API.
  </p>

  <form method="post" action="/update_spreadsheet">
    <% @cohorts.each do |cohort| %>
      <input type="checkbox" name="cohorts[]" value="<%= cohort.name %>">
      <%= cohort.name %>
    <% end %>

    <input type="submit">
  </form>

</div>
